html {
  --background-color: #fefbf1;
  --font-color: #002b36;

  background-color: var(--background-color);
  color: var(--font-color);
  color-scheme: light dark;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #002b36;
    --font-color: #fefbf1;
  }
}